.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
  padding-top: 2em;
}

.Review-List-Container {
  display: flex;
  flex-direction: row;
  margin-top: 5em;
  width: 100%;
}

.Review-List {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
}

.Review-List-Item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 0.75em;
  border-top: 1px solid #eeeeee;
  min-height: 3rem;
  color: #ffffff;
}

.Review-List-Item__character {
  flex: 1;
  font-size: 1.5em;
  font-weight: bold;
}

.Review-List-Item__details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 12px;
  text-align: right;
}

.StudyCard {
  min-width: 40rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #cccccc;
  position: relative;
}

.StudyCard__remaining-counter {
  position: absolute;
  right: 0;
  padding: 0.25em 1em;
  background-color: green;
  color: #ffffff;
  font-size: 10pt;
  font-weight: bold;
}

.StudyCard__display {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1em;
}

.StudyCard__correct-answers {
  font-size: 11px;
  color: #ffffff;
  margin-bottom: 1em;
  min-height: 20px;
}

.StudyCard_footer {
  background-color: #444444;
  color: #ffffff;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 16pt;
  text-transform: uppercase;
}
